# 包含运行机器人所需的所有依赖项
-r requirements.txt
-r requirements-plot.txt

# FreqAI 所需依赖
scikit-learn==1.7.0
joblib==1.5.1
catboost==1.2.8; 'arm' 不在平台机器类型中
lightgbm==4.6.0
xgboost==3.0.2
tensorboard==2.19.0
datasieve==0.1.9