# 包含运行机器人所需的所有依赖项
-r requirements-freqai.txt

# freqai-rl 所需依赖
torch==2.7.1; 系统平台不是'darwin'或平台机器不是'x86_64'
gymnasium==0.29.1
# SB3 >=2.5.0 依赖于 torch 2.3.0 - 这意味着它不再支持 x86 架构的 macOS
stable_baselines3==2.6.0; 系统平台不是'darwin'或平台机器不是'x86_64'
sb3_contrib>=2.2.1
# 用于 stable-baselines3 和 sb3-contrib 的进度条
tqdm==4.67.1